
	
	nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: maroon;
    padding: 0 100px;
    box-sizing: border-box; 
     
}

.companylogo { 
    float: left;
    height: 100%;
    line-height: 70px;
    padding: .1px;
    margin: -.3px;
   
    border-radius: 23%;
}

nav ul{
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    position: relative;
    display: block;
    height: 70px;
    line-height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
    font-size:17px;
    font-family:Verdana, Geneva, sans-serif;
    
    text-decoration: none;
    transition: .5s;
    
}


.image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
.image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
 .lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

.paddingTB60 {
    padding-top:5px;
    padding-bottom:10px;
}


h1.site-heading{
	
	 color: #ffffff; 
	 font-family: 'Raleway',sans-serif; 
	 font-size: 62px; 
	 font-weight: 800; 
	 line-height: 72px; 
	 margin: 0 0 24px; 
	 text-align: center; 
	 text-transform: uppercase;
	
	
}




 h1 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}

h3 {
    line-height: 26px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    color: #000;
}
 h4 { font-size: 19px; 
     letter-spacing: 0px; 
     font-weight: 600;
     font-style: normal;
     color: #000;
}

p {
    font-weight: 400;
    font-style: normal;
    color: #494949;
}


a {
    color: #494949;
}

.capital {
    text-transform:uppercase;
}


i {
    font-style: normal;
    font-size: 42px;
    text-align: center;
    line-height: 64px;
}


.top{
	
	margin-left:220px;
}

/*flip card*/

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border-radius:20px;
  perspective: 1000px;
  display:inline-block;
  margin:20px;
  margin-left:90px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius:20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius:20px;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
  border-radius:20px;
}

.flip-card-back {
  background-color: #DCDCDC;
  color: white;
  transform: rotateY(180deg);
  border-radius:20px;
  z-index: 1;
}































/* profile crad */


/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

	

	

	img {
	    -ms-interpolation-mode: bicubic;
	    vertical-align: middle;
	    border: 0;
	}

	.profile-card{
		width: 300px;
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		position: relative;
		
		background: rgba(255,255,255,1);
		
		transform: translateY(-50%);
		margin-top:250px;
		margin-left:100px;
		display:inline-block;
	}

	.profile-card header{
		display: block;
		position: relative;
		background: rgba(255,255,255,1);
		text-align: center;
		padding: 30px 0 20px;
		z-index: 1;
		overflow: hidden;
	}

	.profile-card header:before{
		content: "";
		position: absolute;
		background: url('http://ali.shahab.pk/blur.php?img=http://ali.shahab.pk/ali-shahab.jpg&x=60') no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		
	}

	.profile-card header:after{
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image: linear-gradient(
		    to bottom,
		    rgba(255, 255, 255, 0) 0%,
		    rgba(255, 255, 255, 1) 100%
		);
	}

	.profile-card header img{
		border-radius: 100%;
		overflow: hidden;
		width: 150px;
		/*border: 1px solid rgba(255,255,255,.5);*/
		box-shadow: 

	

	



























	
	
	
	
	
	
	
	
	